body {
  color: #333333;
  letter-spacing: 1px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slides-navigation a.prev {
  left: 20px;
  background-image: url(/Users/hicondron/Downloads/icons8-back-64.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(/Users/hicondron/Downloads/icons8-next-page-64.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  z-index: 5;
  text-align: center;
  margin-top: -250px;
}

.titleMessage .heading .main {
  color: #ffffff;
  font-size: 48px;
  text-shadow: 0px, 2px, 5px, rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .title {
  color: #ffffff;
  font-size: 32px;
  text-shadow: 0px, 2px, 5px, rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.section {
  padding: 100px 0;
  background-color: #dfe1df;
  background: cover;
}

.aboutImage {
  max-width: 75%;
  max-height: 50%
}

.headingText {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

#aboutMe {
  font-size: 24px;
}

#skills {
  text-align: center;
  background-color: #95969e;
  color: #f4f5f4;
  font-size: 32px;
  padding: 20px, 20px;
  font-weight: 5px;
}
.skillsHeader {
  font-size: 24px;
  padding: 20px;
}

.owl-theme {
  padding: 30px;
}

.react {
  padding-top: 60px;
}
.jsLogo {
  padding-top: 30px;
  height: 75%;
  width: 75%;
}
.cssLogo {
  padding-top: 30px;
  height: 50%;
  width: 50%;
}
.htmlLogo {
  padding-top: 30px;
  height: 55%;
  width: 55%;
}
.javaLogo {
  padding-top: 30px;
  height: 50%;
  width: 60%;
}
.gitLogo {
  height: 70%;
  width: 70%;
  padding-top: 40px;
}
.cPlusPlusLogo {
  height: 60%;
  width: 46%;
  padding-top: 30px;
}
.angularLogo {
  padding-bottom: 40px;
  height: 75%;
  width: 75%;
}
.nodeLogo {
  height: 60%;
  width: 60%;
  padding-top: 50px;
}

.mtaBadge {
  padding: 20px;
}

.comptiaBadge {
  height: 50%;
  width: 50%;
  padding-top: 20px;
}

.foundationsBadge {
  height: 90%;
  width: 90%;
  padding: 40px;
}

.owl-carousel {
  padding-top: 50px;
}

.portfolioSection {
    background-color: #dfe1df;
    background: cover;
    padding: 100px 0;

}

.filter a {
    color: #95969e;
    border: 1px solid #95969e;
    padding: 10px 18px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #9e959e;
    border-color: #9e959e;
    color: whitesmoke
}

.filter {
    text-align: center;
    width: 100%;
}

.portfolioSection .heading{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;

}
.email {
  margin-top: 50px;
}

button {
  display: inline-block;
  border: 1px, solid, black;
  border-radius: 4px;
  padding: 1rem 2rem;
  text-decoration: none;
  background: #95969e;
  color: #f4f5f4;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background-color: #95969e
  color: #5d7678;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
/*
.contactButton {
    padding: 30px, 35px;
    display: inline-block;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 4px;
    color: #5D7678, !important;
}

.contactButton:hoover {
    text-decoration: none;
    background-color: #5D7678;
    color: whitesmoke;
}
 */

.contactSection {
  background-color: #dfe1df;
  color: #5d7678;
  background: cover;
  text-align: center;
}

