body {
    color: #333333;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4)
}
.slides-navigation .prev, 
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;

}
.slides-navigation a.prev {
    left: 20px;
    background-image: url(/Users/hicondron/Downloads/icons8-back-64.png);

}

.slides-navigation a.next {
    right: 20px;
    background-image: url(/Users/hicondron/Downloads/icons8-next-page-64.png);

}

.titleMessage {
    position: absolute;
    WIDTH: 100%;
    height: 250px;
    z-index: 5;
    text-align: center;
    margin-top: -250px;
}

.titleMessage  .heading .main{
    color: #ffffff;
    font-size: 48px;
    text-shadow: 0px, 2px, 5px, rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .title{
    color: #ffffff;
    font-size: 32px;
    text-shadow: 0px, 2px, 5px, rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}


.section {
    padding: 100px 0;   
}

.aboutImage {
    max-width: 100%;
}

.headingText {
    text-align: center;
}

#skills {
    text-align: center;
    background-color: #5D7678;
    color: black;
    font-size: 32px;
    padding: 40px, 20px;
    font-weight: 5px;

}
.skillsHeader{
    font-size: 60;
    padding: 20px;
}

.owl-theme {
    padding: 50px;
}

.react {
    padding-top: 60px
}
.jsLogo {
    padding-top: 30px;
    height: 75%;
    width: 75%;
}
.cssLogo {
    padding-top: 30px;
    height: 50%;
    width: 50%;
}
.htmlLogo {
    padding-top: 30px;
    height: 55%;
    width: 55%;
}
.javaLogo {
    padding-top: 30px;
    height: 50%;
    width: 60%;
}
.gitLogo {
    height: 70%;
    width: 70%;
    padding-top: 40px;
}
.cPlusPlusLogo {
    height: 60%;
    width: 46%;
    padding-top: 30px;
}
.angularLogo {
    padding-bottom: 40px;
    height: 75%;
    width: 75%;
    
}
.nodeLogo {
    height: 60%;
    width: 60%;
    padding-top: 50px;
} 

.mtaBadge {
    padding: 20px;
}

.compTiaBadge {
    padding: 20px;
}


.contactSection {
    background-color: white;
    color: #5D7678;
    background: cover;
    text-align: center;
}

.contactButton {
    padding: 20px, 25px;
    display: inline-block;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 4px;
    font: black; 
    background-color: #5D7678;
}

.contactButton:hoover {
    text-decoration: none;
    background-color: #5D7678;
    

    
}



